.main-table{
    margin: 70px;

    border: 1px solid black;
    border-collapse: collapse;

    text-align: center;
    font-family: Arial, sans-serif;
}

.main-table th, .main-table td{
    border: 1px solid black;

    padding: 6px 10px;;
}

.h1{ width: 140px; }
.h2{ width: 140px; }
.h3{ width: 120px; }
.h4{ width: 140px; }

span{
    font-weight: bold;
}